
.text{
    text-align: center;
    width: 100%;
}
.row h4{
    font-size: 60px;
}
.bt{
    margin-left: 300px ;
    /* text-align: center; */
    
}
.bf{
    margin-left: 150px;
}
.textslid{
    background-color:grey;
    /* height: 90vh; */
    position: relative;
    margin: 0px 0px 0px 220px;
    width: 60%;
    padding: 50px 0;
}
.crr{
    margin-bottom: 50px;
}
.caro-image{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}
.carousel-caption{

display: contents;
}
.carousel-caption p{
    margin-bottom: 50px;
}
.simp p{
    font-size: 30px;
    width: 500px;
    margin-left: 300px;
    margin-top: 50px;
}
.comp{
    font-size: 60px;
    width: 400px;
    font-weight: bolder;
}
.comp{
    font-size: 60px;
    width: 400px;
    font-weight: bolder;
}
.compp{
    font-size: 60px;
    width: 400px;
    font-weight: bolder;
}
.wer{
    font-size: 20px;
    width: 370px;
}
.broad{
    font-weight: light;
}
.pricing{
    /* text-align: center; */
    justify-content: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}
@media screen and (max-width:576px){

    html,body{
        width: 100%;
        overflow-x: hidden;
    }
   .bt{
    width: 100% !important;
    /* margin-left: -100px;     */
   }
   .bn{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    margin-left: -30px;
   }
   .bo{
    margin-left: 4px;
   }
   
   .bl{
    margin-left: 5px;
   }
   .none{
    display: none;
   }
    .je{
        display: none;
    }
    .im{
        margin-left: 50px;
    }
    .simp p{
        font-size: 30px;
        width: 350px;
        margin: 50px 0px 0px 0px;
        /* margin-left: 0px; */
        /* margin-top: 50px; */
    }
    .bt{
        margin-left:0px;
        /* display: none; */
        /* margin-left: 0px 0px 0px -9000px; */
    }
    .textslid{
        margin: 30px 0px 0px 0px;
        width: 100%;
    }
    .pricing{
        display: none;
    }
    .comp{
        font-size:25px;
    }
    .wer{
        /* margin-left: -30px; */
    }
    .col{
        margin-left: -32px;
    }
    .comp{
        margin-left: -10px;
    }
    .compp{
        margin-left: -20px;
        font-size: 25px;
    }
  
  }


